@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --background-color: rgba(59, 57, 167, 0.8);
}

body {
    font-family: 'Poppins';
    background-color: gray;

}

.contactus {
    max-width: 400px;
    margin: 125px auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.9);
}


form {
    width: 100%;
    text-align: center;
    padding: 50px;

    h2 {
        margin-bottom: 20px;
    }
}

.data_input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
        font-weight: bold;
        text-align: left;
    }
    input {
        height: 25px;
        padding: 5px;
    }

    input::placeholder, textarea::placeholder, button {
        font-family: 'Poppins';
    }

}

textarea {
    resize: none;
    height: 70px;
    padding: 5px;


}

.warning {
    font-size: 12px;
    font-weight: bold;
    color: rgba(250, 160, 160, 1);
}

form button {
    margin-top: 20px;
    padding: 10px 40px;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.7);
}

