/Projects/Proj2_MadLibsClone/target/
/Projects/Proj2_DigitSplitter/target/
/Projects/Proj3_DigitSplitter/target/
/Projects/Proj_4/target/
/Projects/Proj_5/target/
/Practice/App/target/
/Practice/Tasks/User_them_favoriteColor/target/
/Practice/Tasks/Users_Their_FavoriteColor/target/
