<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>ContactForm</title>
</head>
<body>
<section class="contactus">


    <form th:action="@{/contact}" th:object="${contactForm}" method="post">
        <h2>Contact Us</h2>
        <div  class="data_input">
            <label for="name">Name</label>
            <input id="name" type="text" th:field="*{name}" placeholder="Your name" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="warning"></div>
        </div>

        <div class="data_input">
            <label for="email">Email</label>
            <input id="email" type="email" th:field="*{email}" placeholder="Your email" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="warning"></div>
        </div>

        <div class="data_input">
            <label for="message">Message</label>
            <textarea id="message" th:field="*{message}" placeholder="Your message"></textarea>
            <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="warning"></div>
        </div>





        <button type="submit">Send</button>
    </form>
</section>

    <p th:text="${contactForm.message}"></p>
</body>
</html>