<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>jugadores</title>
</head>
<body>
<section class="jugadores">
    <article class="jugador">
        <img th:src="@{https://img.a.transfermarkt.technology/portrait/header/301238-1730125609.jpg?lm=1}" alt="">
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr th:each="contact : ${contacts}">
                <td th:text="${contact.name}"></td>
                <td th:text="${contact.email}"></td>
            </tr>
        </table>
    </article>
</section>

</body>
</html>