<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player List</title>
</head>
<body>
    <h1>Player List</h1>
    <a th:href="@{/add}">Add New Player</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <tr th:each="player: ${players}">
            <td th:text="${player.name}"></td>
            <td th:text="${player.description}"></td>
            <td>
                <a>Edit</a>
                <a>Delete</a>
            </td>

        </tr>
    </table>

</body>
</html>