<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Player List</title>
</head>
<body>
<main class="container-main">
    <section class="container-section">
        <h1>Player List</h1>
        <a th:href="@{/add}" class="button_link">Add New Player</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr th:each="player: ${players}">
                <td th:text="${player.name}"></td>
                <td th:text="${player.description}"></td>
                <td>
                    <a th:href="@{|/edit/${player.id}|}" class="button_link">Edit</a>
                    <p>-</p>
                    <a th:href="@{|/delete/${player.id}|}" class="button_link">Delete</a>
                </td>

            </tr>
        </table>
    </section>
</main>
</body>
</html>