@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
 background-color: lightgray;
 font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: black;
}

.container-main {
    max-width: 1200px;
    margin: 50px auto;
    background-color: lightcoral;
    padding: 20px 30px;
    border-radius: 10px;
}

.container-with-smallcontent {
 max-width: 1200px;
 margin: 150px auto;
 padding: 20px 100px;
}

.container-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.button_link {
    display: block;
    background-color: lightgray;
    padding: 8px;
    border-radius: 5px;

}

.button_link:hover {
    background-color: rgba(212, 212, 212, .7);
}

.button {

}
table {
    max-width:70%;
    border-collapse: separate;
    border: 1px solid;
    background-color: white;
    font-size: 12px;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;


    td {
        text-align: center;
    }

    tr:hover {
    background-color: rgba(212, 212, 212, .4);
    }

    td, th {
        border: 1px solid;

        padding: 5px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}